<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <!-- Font Awesome library -->
        <link rel="stylesheet" href="css/all.min.css" />
        <!-- css files -->
        <link rel="stylesheet" href="/dashboard.css" />
        <link
            rel="shortcut icon"
            href="images/logo/logo-dark.png"
            type="image/x-icon"
        />
        <!-- icons -->
        <link
            rel="stylesheet"
            href="path/to/font-awesome/css/font-awesome.min.css"
        />

        <title>OB Learning</title>
    </head>
    <body>
        <main class="main-container">
            <aside class="profile-container">
                <div class="profile-img">
                    <img src="/images/man.png" alt="" />
                </div>
                <ul class="list-container">
                    <li class="list-item">
                        <ion-icon
                            name="person-circle-outline"
                            class="icon"
                        ></ion-icon>
                        User Information
                    </li>
                    <li class="list-item">
                        <i class="fa-regular fa-message icon"></i>
                        Feedback
                    </li>
                    <li class="list-item">
                        <i class="fa-solid fa-file-contract icon"></i>
                        Terms and Conditions
                    </li>
                    <li class="list-item">
                        <i class="fa-regular fa-circle-question icon"></i>
                        Help & Support
                    </li>
                    <li class="list-item">
                        <i class="fa-solid fa-sliders icon"></i>settings &
                        privacy
                    </li>
                    <li class="list-item">
                        <i class="fa-solid fa-globe icon"></i>Language
                        Preferences
                    </li>
                    <li class="list-item">
                        <i class="fa-regular fa-bell icon"></i>Notifications
                    </li>
                </ul>
            </aside>
            <section class="section-container">
                <header>
                    <h1 class="hero-heading">
                        <span>Welcome back!</span>
                        Ready to continue your learning journey? Let's dive in!
                    </h1>
                </header>
                <section class="section-content">
                    <h1>My Courses</h1>
                    <div class="related-cours">
                        <div class="related-cour">
                            <a class="post-preview" href="" target="_blank">
                                <img
                                    class="post-image"
                                    src="../images/course-img/course-20.jpeg"
                                />
                            </a>
                            <div class="post-content">
                                <p class="post-rate">
                                    5.0 <i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i> ><i
                                        class="fa-solid fa-star"
                                    ></i>
                                </p>
                                <p class="post-title">
                                    Cybersecurity Best Practices: Implementing
                                    Effective Security Measures
                                </p>

                                <div class="post-footer">
                                    <span class="post-level"
                                        ><ion-icon
                                            name="document-text-outline"
                                        ></ion-icon>
                                        4 lessons</span
                                    >
                                    <span class="post-level"
                                        ><i class="fa-regular fa-clock"></i> 8
                                        duration</span
                                    >
                                    <span class="post-level"
                                        ><i
                                            class="fa-solid fa-chart-simple"
                                        ></i>
                                        advanced</span
                                    >
                                </div>
                                <div class="post-insimg">
                                    <img src="../images/profesours/osama.jpg" />
                                    <p>Osama EL-Henawy</p>
                                </div>
                            </div>
                        </div>
                        <div class="related-cour">
                            <a class="post-preview" href="" target="_blank">
                                <img
                                    class="post-image"
                                    src="/images/course-img/course-1.png"
                                />
                            </a>
                            <div class="post-content">
                                <p class="post-rate">
                                    4.0 <i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i>
                                </p>
                                <p class="post-title">
                                    Crafting the Web: HTML and CSS Essentials
                                    for Modern Design
                                </p>

                                <div class="post-footer">
                                    <span class="post-level"
                                        ><ion-icon
                                            name="document-text-outline"
                                        ></ion-icon>
                                        4 lessons</span
                                    >
                                    <span class="post-level"
                                        ><i class="fa-regular fa-clock"></i> 8
                                        duration</span
                                    >
                                    <span class="post-level"
                                        ><i
                                            class="fa-solid fa-chart-simple"
                                        ></i>
                                        Intermediate</span
                                    >
                                </div>
                                <div class="post-insimg">
                                    <img src="/images/profesours/Jonas.jpg" />
                                    <p>Jonas schmedtmann</p>
                                </div>
                            </div>
                        </div>
                        <div class="related-cour">
                            <a class="post-preview" href="" target="_blank">
                                <img
                                    class="post-image"
                                    src="/images/course-img/course-18.png"
                                />
                            </a>
                            <div class="post-content">
                                <p class="post-rate">
                                    4.5 <i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i
                                    ><i class="fa-solid fa-star"></i> ><i
                                        class="fa-solid fa-star"
                                    ></i>
                                    <i
                                        class="fa-regular fa-star-half-stroke"
                                    ></i>
                                </p>
                                <p class="post-title">
                                    Computer Fundamentals: Understanding the
                                    Basics
                                </p>

                                <div class="post-footer">
                                    <span class="post-level"
                                        ><ion-icon
                                            name="document-text-outline"
                                        ></ion-icon>
                                        4 lessons</span
                                    >
                                    <span class="post-level"
                                        ><i class="fa-regular fa-clock"></i> 8
                                        duration</span
                                    >
                                    <span class="post-level"
                                        ><i
                                            class="fa-solid fa-chart-simple"
                                        ></i>
                                        Intermediate</span
                                    >
                                </div>
                                <div class="post-insimg">
                                    <img src="/images/profesours/basel.jpg" />
                                    <p>Basel Khial</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
        <!-- package for icons -->
        <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
        <script
            src="https://kit.fontawesome.com/d8e241db9c.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
